<div id="myModal">

	<form class="form-horizontal">

		<div class="modal-header modal-header-primary">
			<h3 class="modal-title text-center">Crear Estado</h3>
		</div>
		<br />
		<div class="modal-body">

			<div class="form-group">
				<div class="col-sm-12">
					<label class="control-label">C&oacute;digo</label> <input
						id="txtCodigo" name="txtCodigo" type="text"
						ng-model="estado.codigo"
						placeholder="Ingrese c&oacute;digo del Estado" required="required"
						class="form-control input-md" autofocus>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-12">
					<label class="control-label">Valor</label> <input id="txtValor"
						name="txtValor" type="text" ng-model="estado.valor"
						placeholder="Ingrese valor del Estado" required="required"
						class="form-control input-md">
				</div>
			</div>

		</div>
		<div class="modal-footer">
			<div class="form-group">
				<label class="col-md-4 control-label"></label>
				<div class="col-md-8">
					<button id="btnGuardar" type="button" ng-click="btnGuardar()"
						class="btn btn-success">Guardar</button>
					<button type="button" ng-click="cancel()" class="btn btn-warning">Cancelar</button>
				</div>
			</div>
		</div>

	</form>

</div>
<script>
	document.getElementById("txtCodigo").focus();
	document.getElementById("txtCodigo").addEventListener("keyup",
			function(event) {
				event.preventDefault();
				if (event.keyCode === 13) {
					document.getElementById("btnGuardar").click();
				}
			});
	document.getElementById("txtValor").addEventListener("keyup",
			function(event) {
				event.preventDefault();
				if (event.keyCode === 13) {
					document.getElementById("btnGuardar").click();
				}
			});
</script>