<div id="myModal">

	<form class="form-horizontal">

		<div class="modal-header modal-header-primary">
			<h3 class="modal-title text-center">Crear Trackingstock</h3>
		</div>
		<br />
		<div class="modal-body">

			<div class="form-group">
				<div class="col-sm-12">
					<label class="control-label">C&oacute;digo de equipo</label> <input
						id="txtCodigoMaterial" name="txtCodigoMaterial" type="text"
						ng-model="trackingstock.codmaterial"
						placeholder="Ingrese c&oacute;digo del Equipo" required="required"
						class="form-control input-md" autofocus>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<label class="control-label">C&oacute;digo de chip</label> <input
						id="txtCodigoMaterialChip" name="txtCodigoMaterialChip" type="text"
						ng-model="trackingstock.codmaterialchip"
						placeholder="Ingrese c&oacute;digo del Chip" required="required"
						class="form-control input-md" autofocus>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<label class="control-label">Descripci&oacute;n log</label> <input
						id="txtDesLog" name="txtDesLog" type="text"
						ng-model="trackingstock.deslog"
						placeholder="Ingrese Descripci&oacute;n Log" required="required"
						class="form-control input-md" autofocus>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<label class="control-label">N&uacute;mero log</label> <input
						id="txtNroLog" name="txtNroLog" type="text"
						ng-model="trackingstock.nrolog"
						placeholder="Ingrese N&uacute;mero Log" required="required"
						class="form-control input-md" autofocus>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<label class="control-label">Stock de material</label> <input
						id="txtStockMaterial" name="txtStockMaterial" type="text"
						ng-model="trackingstock.stockmaterial"
						placeholder="Ingrese stock del Material" required="required"
						class="form-control input-md" autofocus>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<label class="control-label">Stock de chip</label> <input
						id="txtStockMaterialChip" name="txtStockMaterialChip" type="text"
						ng-model="trackingstock.stockchip"
						placeholder="Ingrese stock del Chip" required="required"
						class="form-control input-md" autofocus>
				</div>
			</div>

		</div>
		<div class="modal-footer">
			<div class="form-group">
				<label class="col-md-4 control-label"></label>
				<div class="col-md-8">
					<button id="btnGuardar" type="button" ng-click="btnGuardar()"
						class="btn btn-success">Guardar</button>
					<button type="button" ng-click="cancel()" class="btn btn-warning">Cancelar</button>
				</div>
			</div>
		</div>

	</form>

</div>
<script>
	document.getElementById("txtCodigoMaterial").focus();
	document.getElementById("txtCodigoMaterial").addEventListener("keyup",
			function(event) {
				event.preventDefault();
				if (event.keyCode === 13) {
					document.getElementById("btnGuardar").click();
				}
			});
	document.getElementById("txtCodigoMaterialChip").addEventListener("keyup",
			function(event) {
				event.preventDefault();
				if (event.keyCode === 13) {
					document.getElementById("btnGuardar").click();
				}
			});
	document.getElementById("txtDesLog").addEventListener("keyup",
			function(event) {
				event.preventDefault();
				if (event.keyCode === 13) {
					document.getElementById("btnGuardar").click();
				}
			});
	document.getElementById("txtNroLog").addEventListener("keyup",
			function(event) {
				event.preventDefault();
				if (event.keyCode === 13) {
					document.getElementById("btnGuardar").click();
				}
			});
	document.getElementById("txtStockMaterial").addEventListener("keyup",
			function(event) {
				event.preventDefault();
				if (event.keyCode === 13) {
					document.getElementById("btnGuardar").click();
				}
			});
	document.getElementById("txtStockMaterialChip").addEventListener("keyup",
			function(event) {
				event.preventDefault();
				if (event.keyCode === 13) {
					document.getElementById("btnGuardar").click();
				}
			});
</script>